<h2 class="my-5">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "名前", required: true %>
    <%= f.input :email, label: "メールアドレス", required: true %>
    <%= f.input :profile_image, label: "プロフィール写真", as: :file, input_html: { accept: 'image/*', onchange: 'loadPreview(this);' } %>
    <% if resource.profile_image.attached? %>
      <%= image_tag resource.profile_image.variant(resize: "100x100").processed, id: 'profile-preview' %>
    <% else %>
      <img id="profile-preview" src="<%= asset_path('no_image.jpg') %>" alt="プロフィール画像のプレビュー" />
    <% end %>
    <%= f.input :introduction, label: "自己紹介", as: :text %>
    <%= f.input :current_password, label: "現在のパスワード", hint: "新しいパスワードを設定する場合は必須です", required: false %>
    <%= f.input :password, label: "新しいパスワード", hint: "空欄の場合、パスワードは変更されません", required: false %>
    <%= f.input :password_confirmation, label: "パスワード確認", required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "更新する", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "キャンセル", root_path, class: "btn btn-secondary" %>

<%= button_to '退会', cancel_user_registration_path, method: :get, class: "btn btn-danger mt-3" %>

<script>
  function loadPreview(input) {
    var preview = document.getElementById('profile-preview');
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            preview.src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
  }
</script>
