<div class="container">
  <h1 class="my-4">レビュー管理</h1>

  <%= form_with(url: admin_reviews_path, method: :get, local: true, class: 'mb-4') do %>
    <div class="form-group">
      <%= label_tag :search, 'レビュー検索' %>
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
    </div>
    <%= submit_tag '検索', class: 'btn btn-primary' %>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>カフェ名</th>
        <th>ユーザー名</th>
        <th>タイトル</th>
        <th>評価</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.cafe.name %></td>
          <td><%= review.user.name %></td>
          <td><%= review.title %></td>
          <td><%= review.rating %></td>
          <td>
            <%= link_to '詳細', admin_review_path(review), class: 'btn btn-info' %>
            <%= link_to '削除', admin_review_path(review), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @reviews, theme: 'bootstrap-5' %>
</div>
