<div class="container">
  <div class="row">
    <!-- サイドバー -->
    <div class="col-md-3 mb-4">
      <%= render 'cafes/sidebar' %>
    </div>

    <!-- カフェ一覧 -->
    <div class="col-md-9">
      <div class="cafes">
        <div class="row">
          <% @cafes.each do |cafe| %>
            <div class="cafe-card col-md-5 mb-5 offset-md-1">
              <div class="card shadow-sm">
                <%= link_to cafe_path(cafe), class: "card shadow-sm text-dark text-decoration-none" do %>
                  <% if cafe.images.attached? %>
                    <%= image_tag cafe.images.first.variant(resize: "300x300").processed, class: "card-img-top", alt: "#{cafe.name}の画像" %>
                  <% else %>
                    <%= image_tag 'no_image2.png', class: "card-img-top", alt: "No image available" %>
                  <% end %>
                <% end %>
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-2">
                    <h3 class="card-title"><%= link_to cafe.name, cafe_path(cafe), class: "text-dark" %></h3>
                    <div id="favorite_btn_<%= cafe.id %>">
                      <%= render 'favorites/btn', cafe: cafe %>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <% if cafe.reviews.any? %>
                      <div id="average_raty_<%= cafe.id %>"></div>
                      <span class="text-muted"><%= cafe.review_avarage %> / 5.0</span>
                    <% else %>
                      <span class="text-muted">評価なし</span>
                    <% end %>
                  </div>
                  <p class="card-text"><%= cafe.address %></p>
                  <p class="card-text"><%= cafe.category %></p>
                  <p class="card-text"><%= cafe.price_range %></p>
                  <p class="card-text features">
                    <% if cafe.features.is_a?(Array) %>
                      <%= cafe.features.reject(&:blank?).join(', ') %>
                    <% else %>
                      <%= cafe.features %>
                    <% end %>
                  </p>
                  <p class="card-text">投稿者: <%= link_to cafe.user.name, user_path(cafe.user) %></p>
                </div>
              </div>
            </div>
            <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#average_raty_<%= cafe.id %>');
                if (elem == null) return;
                let averageRating = <%= cafe.reviews.any? ? cafe.review_avarage : 0 %>;
                elem.innerHTML = ""
                let opt = {
                  space: false,
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  score: averageRating,
                  readOnly: true,
                  half: true,
                  number: 5
                };
                raty(elem, opt);
              });
            </script>
          <% end %>
        </div>
      </div>
      <div class="pagination justify-content-center">
        <%= paginate @cafes, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>




