<%= simple_form_for @cafe, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, placeholder: "カフェの店舗名を入力", required: true %>
  </div>

  <div class="form-group">
    <%= f.input :images, as: :file, input_html: { multiple: true } %>

    <% if @cafe.images.attached? %>
      <% @cafe.images.each do |image| %>
        <%= image_tag image.variant(resize: '100x100').processed %>
        <%= link_to 'Destroy', cafe_attachment_path(@cafe.id, image.id), method: :delete %>
      <% end %>
    <% end %>
    <div id="image-preview"></div>
  </div>

  <div class="form-group">
    <label for="cafe_rating">Rating</label>
    <%= f.simple_fields_for :reviews do |review_form| %>
      <%= review_form.input :rating, as: :hidden, input_html: { value: 0 } %>
      <div id="rating-form"></div>
      <%= image_tag "star-on.png", id: "starOn" ,class: "d-none"%>
      <%= image_tag "star-off.png", id: "starOff" ,class: "d-none"%>
      <%= image_tag "star-half.png", id: "starHalf" ,class: "d-none"%>
      <%= review_form.input :title, placeholder: "レビューのタイトルを入力", required: true %>
      <%= review_form.input :content, as: :text, placeholder: "レビューの内容を入力", required: true %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.input :address, placeholder: "カフェの正確な住所を入力", required: true %>
  </div>

  <div class="form-group">
    <%= f.input :contact_info, placeholder: "カフェの電話番号を入力", required: true %>
    <%= f.input :website, placeholder: "カフェの公式ウェブサイトのリンク" %>
  </div>

  <div class="form-group">
    <%= f.input :hours, as: :text, placeholder: "例：月～金 8:00-18:00, 土日 10:00-20:00", required: true %>
  </div>

  <div class="form-group">
    <%= f.input :category, as: :select, collection: ["コーヒー", "ベーカリー", "デザートバー", "その他"], prompt: "カテゴリーを選択してください", required: true %>
  </div>

  <div class="form-group">
    <%= f.input :price_range, as: :select, collection: ["〜500円", "500〜1,000円", "1,000〜2,000円", "2,000円〜"], prompt: "価格帯を選択してください", required: true %>
  </div>

  <div class="form-group">
    <%= f.input :tag_list, input_html: { data: { role: 'tagsinput' } }, placeholder: "カフェに関連するタグを追加　（例：静かな雰囲気、景色が良い、デート向き、仕事向きなど）" %>
  </div>

  <div class="form-group">
    <%= f.input :features, as: :check_boxes, collection: ["無料Wi-Fi", "電源コンセント", "喫煙エリア", "ペット同伴"], input_html: { multiple: true, class: 'form-check-input' }, label: "特徴" %>
  </div>


  <div class="form-group">
    <%= f.submit "投稿する", class: "btn btn-primary" %>
  </div>

<% end %>

<%= link_to '戻る', cafes_path, class: 'btn btn-secondary' %>